body {
    background-color: black;
}

#clockDisplay {
    font-size: 60pt;
    font-family: fantasy;
    color: orange;
    position: absolute; /* We want to position this element exactly on the screen where we want it */
    top: 50%; /* move element down 50% of the height of the parent */
    left: 50%; /* Move element right 50% of the width of the parent */
    transform: translateX(-50%) translateY(-50%);
}

#dateDisplay {
    font-size: 30pt;
    font-family: fantasy;
    color: orange;
    position: absolute; /* We want to position this element exactly on the screen where we want it */
    top: 65%; /* move element down 50% of the height of the parent */
    left: 50%; /* Move element right 50% of the width of the parent */
    transform: translateX(-50%) translateY(-50%);
}

.headerContainer {
    background-color: orange;
}

.headerContainer a {
    /* This targets anchor elements inside any element using the headerCOntainer class */
    color: black;
    padding: 16px 18px;
    display: inline-block;
    text-decoration: none;
}

.headerContainer a:hover {
    background-color: blueviolet;
    color: burlywood;
    transform: rotate(360deg);
    transition-duration: 2s;
}